<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBNv</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

  


    
    
    <section>
            <h1>Fav Homes:</h1>
        <ul>
            <% favHomesFound.forEach(home => {  %>
            
           
                <li class="temp-home-card-li">
                    <div class="temp-home-card">
                        <span><b>House Name:    </b>    <%=home.housename%>          </span>
                        <span><b>location:      </b>    <%=home.location%>           </span>
                        <span><b>price:         </b>    <%=home.price%>              </span>
                        <span><b>nights:        </b>    <%=home.nights%>             </span>
                        <span><b>rating:        </b>    <%=home.rating%>             </span>
                        <span><b>description:   </b>    <%=home.description%>        </span>
                    </div>

                    <div>
                        <form action="/remove-fav-home/<%= home.id%>" method="post">
                            <button type="submit">Remove From Fav</button>
                        </form>
                    </div>

                    
                </li>
           
            <%}) %>
        </ul>
    </section>

    
    
</body>
</html>