<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBNv</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    

    <section>
        <h1>Show Real Home Details</h1>
        <p><b style="color:red">HOUSE_ID:       </b>    <%= home.id%></p>
        <p><b style="color:red">HOUSENAME:      </b>    <%= home.housename%></p>
        <p><b style="color:red">HOUSE_LOCATION: </b>    <%= home.location%></p>
        <p><b style="color:red">HOUSE PRICE:    </b>    <%= home.price%></p>
        <p><b style="color:red">HOUSE RATING:   </b>    <%= home.rating%></p>
        <p><b style="color:red">DESCRIPTION:    </b>    <%= home.description%></p>
        <p><b style="color:red">NIGHTS FOR STAY:</b>    <%= home.nights%></p>
    </section>

    
    
</body>
</html>